*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #404040;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #e8edf6;
}

h1{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1;
}

h2{
    font-size: 3.5rem;
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* a:link,
a:visited{
    color: #112e61;
} */
/* a:hover,
a:active{
    color: #f60;

} */



header img{
    width: 10rem;
    margin-left: 2rem;

}

header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: white;
    padding: 1.8rem 2.5rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

nav ul{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    text-transform: uppercase;
    color: #112e61;
    font-size: 1.4rem;
    font-weight: 600;
}

.contem-filhos::after{
    content: "\2BC6";
}

.contem-filhos{
    position: relative;
}

.contem-filhos ul{
    display: none;
    align-items: start;
    right: 0;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    background-color: white;
    width: max-content;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

.contem-filhos:hover ul{
    display: flex;
}

.contem-filhos ul a, .item-cabecalho a{
    color: #112e61;
}

.item-cabecalho a:hover,
.contem-filhos a:hover,
a:active{
    color: #f60;

}


.sessao-hero{
    background-image: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato Novo/BACKGROUN-banner-01.webp");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    
}

.geral-hero{
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.botao-hero{ 
    padding: 0.7rem;
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    border-radius: 1rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
}

.hero-botao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.container{
    display: flex;
}

.iframe-hero{
    width: 42rem;
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
}

































/* .sessao-hero-geral{
    background: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato Novo/BACKGROUN-banner-01.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.botao-hero{
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    border-radius: 1rem;
    padding: 1.28 2.5rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
}

.iframe-hero{
    width: 42rem;
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
}

.container{
    display: flex;
    align-items: center;
} */