*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #404040;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #e8edf6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.2rem;
    
}

h2{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
}

header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: white;
    padding: 1.8rem 2.5rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}


header img{
    width: 10rem;
    margin-left: 2rem;
    

}

nav ul{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    text-transform: uppercase;
    color: #112e61;
    font-size: 1.4rem;
    font-weight: 600;
}

.contem-filhos{
    position: relative;
}

.contem-filhos ul{
    display: none;
    align-items: start;
    right: 0;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    background-color: white;
    width: max-content;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
    
}

.contem-filhos:hover ul{
    display: flex;
}


.sessao-hero{
    background-image: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato Novo/BACKGROUN-banner-01.webp");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-top: 2rem;
}

.botao{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3rem;
    padding: 0.82rem 2.5rem;
    display: inline-block;
}

.botao-hero{
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
}

.hero-botao{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container{
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero-coluna{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-coluna h1{
    line-height: 4rem;
}

.container iframe{
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
    flex: 5;
    width: 40rem;
    height: 28rem;;
}

.conteudo-gratuito{
    background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.container-gratuito-geral{
    width: 100rem;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
}

.gratuito-coluna{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.teste{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}

.titulo-gratuito{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
}
.titulo-gratuito img{
    width: 2rem;
    height: 2rem;
}

.pc-gratuito{
    width: 40rem;
}

.bloco-gratuito{
    background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
    display: inline-block;
    transform: rotate(-3deg);
    padding: 0.42rem 1.6rem;
    border-radius: 1rem;
    color: white;
}
.bloco-gratuito p{
    font-size: 2rem;
  
}

.bloco-gratuito-treinamento{
    box-shadow: inset 0 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
    border-radius: 2.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.conteudo-caixa-logo{
    display: flex;
    gap: 1rem;
}
.circulo-gratuito{
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 50%;
    padding: 0.82rem;
    width: 4.5rem;
    height: 4.5rem;
}

.circulo-gratuito img{
    width: 100%;
}

.caixa-redes{
    display: inline-flex;   
    flex-direction: column;
    gap: 1.6rem;
}


.caixa-rede-social img{
    width: 1.8rem;
}

.caixa-rede-social a{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 0.6rem 3rem;
    background-color: #e7e7e7;
    border-radius: 1.5rem;
}


.programacao-gratuito{
    background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    color: white;
    transform: rotate(-3deg);
}

.circulo-programacao{
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 50%;
    padding: 0.82rem;
    width: 4.5rem;
    height: 4.5rem;
}

.circulo-programacao img{
    width: 100%;
}

.programacao-geral-gratuito{
    box-shadow: inset 0 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
    border-radius: 2.5rem;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.conteudo-treinamento{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}







/* .circulo-gratuito{
    display: inline-block;
    background-color: #e7e7e7;
    border-radius: 50%;
    padding: 0.82rem;
    width: 4.5rem;
    height: 4.5rem;
}

.circulo-gratuito img{
    width: 100%;
} */


























/* ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* a:link,
a:visited{
    color: #112e61;
} */
/* a:hover,
a:active{
    color: #f60;

} */


/* 
header img{
    width: 10rem;
    margin-left: 2rem;

}

header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: white;
    padding: 1.8rem 2.5rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

nav ul{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    text-transform: uppercase;
    color: #112e61;
    font-size: 1.4rem;
    font-weight: 600;
}

.contem-filhos::after{
    content: "\2BC6";
}

.contem-filhos{
    position: relative;
}

.contem-filhos ul{
    display: none;
    align-items: start;
    right: 0;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    background-color: white;
    width: max-content;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

.contem-filhos:hover ul{
    display: flex;
}

.contem-filhos ul a, .item-cabecalho a{
    color: #112e61;
}

.item-cabecalho a:hover,
.contem-filhos a:hover,
a:active{
    color: #f60;

}


.sessao-hero{
    background-image: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato Novo/BACKGROUN-banner-01.webp");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-top: 2rem;
    
}

.container{
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    gap: 3.12rem;
    align-items: center;
}


.paragrafo-hero{
    font-size: 1.92rem;
    
}

.botao{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3rem;
    padding: 0.82rem 2.5rem;
    display: inline-block;
}

.botao-hero{
    background-image: linear-gradient(180deg, #ff645e, #ff9253);

}

.hero-botao{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-coluna{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    flex: 6;
    /width: 50%; /
}

.iframe-hero{
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
    flex: 5;
    width: 40rem;
    height: 28rem;
} */
 

















/* .geral-hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.botao-hero{ 
    padding: 0.7rem;
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    border-radius: 1rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
    display: block;
}

.hero-botao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.container{
    display: flex;
}

.iframe-hero{
    width: 42rem;
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
} */

































/* .sessao-hero-geral{
    background: url("https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato Novo/BACKGROUN-banner-01.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.botao-hero{
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    border-radius: 1rem;
    padding: 1.28 2.5rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
}

.iframe-hero{
    width: 42rem;
    aspect-ratio: 16/9;
    border-radius: 1.2rem;
}

.container{
    display: flex;
    align-items: center;
} */