*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #404040;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #e8edf6;
}


header img{
    width: 10rem;
    margin-left: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    list-style: none;
}

.contem-filhos{
    position: relative;
}

.contem-filhos ul{
    display: none;
    flex-direction: column;
    width: max-content;
    right: 0;
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

.contem-filhos:hover ul{
    display: flex;
}


h1{
   font-weight: bold;
}

h1

.sessao-hero-geral{
    display: flex;
    flex-wrap: wrap;
}


























/* header img{
    width: 15rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

ul{
    list-style: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.contem-filhos{
    position: relative;
}
.contem-filhos ul{
    position: absolute;
    display: none;
    gap: 2rem;
    flex-direction: column;
    width: max-content;
    align-items: start;
    right: 0;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)

}

.contem-filhos:hover ul{
    display: flex;
}

li a{
    text-transform: uppercase;
    text-decoration: none;
} */


/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 2rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contem-filhos{
    position: relative;
}

.contem-filhos ul{
    position: absolute;
    display: none;
    right: 0;
    gap: 2rem;
    flex-direction: column;
    align-items: start;
    background-color: white;
    list-style: none;
    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15)
}

.contem-filhos:hover ul{
    display: flex;
}


.contem-filhos a{
    text-decoration: none;
    text-transform: uppercase;
} */